<h1>About Us</h1>
<p>

 I am a student at UC Berkeley trying to gain web development skills, particularly using Ruby on Rails. In 
 that regard, I have been working on this social network platform that will revolutionize the way users interact
 with friends and family. Credit given to Rails Tutorial (Hartl) for guiding me through the development of this web
 application and also to Google Images for images. This is not a website meant for revenue or profit, but for merely interest and passion. 

</p>
